@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Fira+Mono:400,500,700|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.hed {
  font-family: 'Archivo Black', sans-serif;
}

.byline {
  font-family: 'Fira Mono', monospace;
}

.idyll-loader {
  margin-top: 1em;
  margin-bottom: 1em;
}

.regl {
  width: 100%;
  margin: 30px auto;
}

.idyll-dynamic {
  border-bottom: dashed 2px blue;
  cursor: ew-resize;
}

.action {
  display: inline;
  border-bottom: solid 2px blue;
  cursor: pointer;
}

.action:hover {
  color: blue;
}

button {
    background: #EAE7D6;
    color: black;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: block;
}

.inset {
  max-width: 200px;
  margin: 30px auto;
}

small {
  font-size: 10px;
  color: #afafaf;
  text-transform: uppercase;
  padding-left: 5px;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.3px 0;
  display: block;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10.4px;
  cursor: pointer;
  box-shadow: 0.7px 0.7px 1.3px rgba(0, 0, 0, 0.9), 0px 0px 0.7px rgba(13, 13, 13, 0.9);
  background: #eae7d6;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(255, 255, 255, 0);
  height: 27px;
  width: 8px;
  border-radius: 0px;
  background: #ddd;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f3f1e7;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10.4px;
  cursor: pointer;
  box-shadow: 0.7px 0.7px 1.3px rgba(0, 0, 0, 0.9), 0px 0px 0.7px rgba(13, 13, 13, 0.9);
  background: #eae7d6;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(255, 255, 255, 0);
  height: 27px;
  width: 8px;
  border-radius: 0px;
  background: #ddd;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #e1ddc5;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0.7px 0.7px 1.3px rgba(0, 0, 0, 0.9), 0px 0px 0.7px rgba(13, 13, 13, 0.9);
}
input[type=range]::-ms-fill-upper {
  background: #eae7d6;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0.7px 0.7px 1.3px rgba(0, 0, 0, 0.9), 0px 0px 0.7px rgba(13, 13, 13, 0.9);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(255, 255, 255, 0);
  height: 27px;
  width: 8px;
  border-radius: 0px;
  background: #ddd;
  cursor: pointer;
  height: 10.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #eae7d6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f3f1e7;
}
.js-plotly-plot .modebar a,
.js-plotly-plot .modebar a:visited,
.js-plotly-plot .modebar a:hover,
a.github-corner {
  box-shadow: none;
  transition: none;
}
.aside {
  width: 350px;
  right: calc((10vw + 600px + 175px) / -2);
}
.idyll-figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 3em;
  margin-bottom: 5em;
}
.idyll-caption-container {
  text-align:left;
}
.idyll-caption {
  /*padding-left: 15px;
  padding-right: 15px;*/
  margin-top: 0.25em;
}
.aside .idyll-figure {
  margin-top: 0;
  margin-bottom: 0;
}
.aside .idyll-caption {
  padding-left: 0;
  padding-right: 0;
}
.idyll-caption {
  text-align: left;
  display: inline-block;
}
.idyll-caption-content {
  line-height: 1.4em;
}
.idyll-caption-content p {
  line-height: 1em;
}
.idyll-caption-content,
.idyll-caption-content p {
  display: inline;
  margin: 0;
  font-size: 1em;
  font-style: italic;
  font-family: serif;
}
.idyll-caption-content em {
  font-style: normal;
  font-weight: bold;
}
.idyll-caption-prefix {
  margin-right: 0.5em;
}

@media (max-width: 1000px) {
  .aside {
    width: 100%;
    right: auto;
  }
  .aside .idyll-figure,
  .idyll-figure {
    margin-top: 5em;
    margin-bottom: 5em;
  }
  .aside .idyll-caption {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.idyll-blockquote {
  border-left: 6px solid rgb(242, 243, 242);
  padding-left: 10px;
  font-style: italic;
  margin-top: 2em;
  margin-bottom: 3em;
  font-family: serif;
  color: #555;
  margin-left: 20px;
  margin-right: 40px;
}
.idyll-blockquote p {
  display: inline;
}

.katex .katex-mathml {
  display: none;
}
